h1 {
    text-align: center;
}
#titleDiv {
    border-radius: 25px;
    background-color: aqua;
    width: 500px;
    margin:auto;
    height: 60px;
}
#big {
    background-color: aqua;
    border-radius: 25px;
    width: 750px;
    height: 760px;
    margin: auto;
}
.sections {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 4px;
}
#gap1 {
    height: 20px;
}
.gap2 {
    height: 40px;
}